# uri to the mongodb server
MONGO_URI=mongodb://admin:password@localhost
# port the proxy runs on
PORT=3000
# disable headless mode (useful in dev environment, where graphics is available)
NO_HEADLESS=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

# hmac key, plain text, or begin with @ to specify a file
# optional
# if you wish to enable hmac signing / verifing, you must provide an hmac key
HMAC_KEY=@certs/hmac.key
# sign the image src
HMAC_SIGN=false
# verify the signature of the url
HMAC_VERIFY=false
