services:
  protonvpn:
    container_name: protonvpn
    environment:
      # Credentials
      PROTONVPN_USERNAME: ${PROTONVPN_USERNAME}
      PROTONVPN_PASSWORD: ${PROTONVPN_PASSWORD}
      # Override these where applicable
      PROTONVPN_SERVER: ${PROTONVPN_SERVER:-NL}
      PROTONVPN_TIER: ${PROTONVPN_TIER:-0}
    # Always use semver tags, avoid using tag latest!
    image: ghcr.io/tprasadtp/protonvpn:latest
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    networks:
      - internet
      - proxy
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
  rlp:
    image: registry.gitlab.com/metahkg/rlp-proxy-rewrite:latest
    build:
      context: ../
      dockerfile: ./Dockerfile
    container_name: rlp
    environment:
      PORT: ${PORT}
      DB_URI: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@localhost:27017
    restart: always
    tty: true
    network_mode: service:protonvpn
    depends_on:
      - rlp-mongo
  rlp-mongo:
    image: mongo:latest
    container_name: rlp-mongo
    restart: always
    tty: true
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: rlp
    network_mode: service:protonvpn
networks:
  internet:
  proxy:
    internal: true
